# SEGREDOS
.streamlit/secrets.toml

# BACKUPS E DADOS PESADOS
*.backup
*.zip
*.shp
*.dbf
*.shx
*.prj
*.cpg
*.qix
*.gpkg
*.geojson
*.tif
*.tiff

# PASTAS DE DADOS/CACHE
metano/
fontes_upstream/
fontes_midstream/
fontes_downstream/
goes_cache/

# PYTHON
__pycache__/
*.pyc

# VSCODE
.vscode/

# SISTEMA
.DS_Store
Thumbs.db